<!DOCTYPE html>
<html>
  <head>
    <title>AllEventsList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab&display=swap" rel="stylesheet">
 
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&callback=initAutocomplete&libraries=places&v=weekly"
      defer>
    </script>

  </head>

  <body data-turbolinks="false", class="body">

    <%= yield %>
    
  </body>
</html>
